<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MSUWSSoap" allowCookies="true" />
                <binding name="SAA_SERVICESoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41305/MSUWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="MSUWSSoap" contract="MSUWS.MSUWSSoap"
                name="MSUWSSoap" />
            <endpoint address="http://localhost:51638/SAA_SERVICE.asmx" binding="basicHttpBinding"
                bindingConfiguration="SAA_SERVICESoap" contract="ServiceReference1.SAA_SERVICESoap"
                name="SAA_SERVICESoap" />
        </client>
    </system.serviceModel>
</configuration>